###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# IDE
/.idea/
/.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node (si Tailwind CLI ou autre build tool)
/node_modules/
/npm-debug.log
/yarn-error.log

# PHPUnit
/.phpunit.result.cache
/phpunit.xml

# Logs
*.log
